.dashboard-full {
  padding-bottom: 5rem;
}

.top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.current-date-time {
  color: blue;
}

.personalized-welcome {
  color: grey;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.position {
  margin-bottom: 1rem;
}

.employee-section-full,
.contact-section-full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-section-header,
.contact-section-header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.employee-table,
.contact-table {
  width: 100%;
}

.employee-table th,
.employee-table td,
.contact-table th,
.contact-table td {
  text-align: center;
  padding: 5px 0px;
  margin: 0;
}

.page-break {
  height: 3px;
  margin: 10px;
  background: lightgrey;
  border-radius: 5px;
}

.contact-details {
  background: lightgrey;
}

.dashboard-schedule-day{
  font-size: smaller;
}

.dashboard-schedule-header {
  width: 100%;
  text-align: center;
  text-decoration: underline;
}