.login-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
}



