.employees-full {
  padding-bottom: 10rem;
}

.employee-row {
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.employee-row:nth-child(odd) {
  background-color: lightgrey;
}

.employee-row:hover {
  background: lightblue;
}

.employee-row.selected {
  background-color: skyblue;
}

.page-break {
  height: 3px;
  margin: 20px 10px;
  background: lightgrey;
  border-radius: 5px;
}
